Repository i-vox/NexusEvent, changes with the labels that .github/labeler.yml gives for each.
All labels: flutter, javascript, documentation, github, ci/cd, examples, dependencies

.github/labeler.yml:

# Label configuration for auto-labeling PRs

"flutter":
  - packages/nexusevent_flutter/**/*
  - "**/*.dart"

"javascript":
  - packages/nexusevent-js/**/*
  - "**/*.ts"
  - "**/*.js"

"documentation":
  - "**/*.md"
  - docs/**/*

"github":
  - .github/**/*

"ci/cd":
  - .github/workflows/**/*
  - scripts/**/*

"examples":
  - examples/**/*

"dependencies":
  - "**/package.json"
  - "**/pubspec.yaml"
  - "**/package-lock.json"
  - "**/pubspec.lock"

fix: correct email address from 1.flint.lab to i.flint.lab
  .env.example
  .github/ISSUE_TEMPLATE/config.yml
  .github/SECURITY.md
  .project-config.json
Labels: documentation, github

security: remove all personal information and build artifacts
  .env.example
  .github/ISSUE_TEMPLATE/config.yml
  .github/SECURITY.md
  .gitignore
  scripts/publish.sh
Labels: documentation, github, ci/cd

fix: resolve all build and runtime issues - project ready for release
  examples/flutter_demo/pubspec.yaml
  examples/js-demo/index.js
  examples/js-demo/package.json
  packages/nexusevent-js/package.json
Labels: javascript, examples, dependencies

Release v0.1.1: Update README, add SDK documentation and prepare for publishing
  .project-config.json
  CHANGELOG.md
  README.md
  docs/API_COMPATIBILITY.md
  docs/CONTRIBUTING.md
  packages/nexusevent-core/README.md
  packages/nexusevent-js/README.md
  packages/nexusevent-js/package.json
  packages/nexusevent-js/src/senders/DiscordSender.ts
  packages/nexusevent_flutter/CHANGELOG.md
  packages/nexusevent_flutter/README.md
  packages/nexusevent_flutter/pubspec.yaml
Labels: flutter, javascript, documentation, dependencies

Fix JavaScript package name for npm publishing
  CHANGELOG.md
  README.md
  packages/nexusevent-js/README.md
  packages/nexusevent-js/package.json
Labels: javascript, documentation, dependencies

fix(ci): resolve Flutter and JavaScript CI issues
  packages/nexusevent_flutter/pubspec.yaml
Labels: flutter, dependencies

feat: migrate to GitHub Packages for unified package distribution
  .github/workflows/publish-packages.yml
  README.md
  examples/js-demo/index.js
  packages/nexusevent-js/.npmrc
  packages/nexusevent-js/README.md
  packages/nexusevent-js/package.json
  packages/nexusevent_flutter/README.md
  packages/nexusevent_flutter/pubspec.yaml
Labels: flutter, javascript, documentation, github, ci/cd, examples, dependencies

fix(ci): resolve GitHub Actions publish workflow issues
  .github/workflows/publish-packages.yml
  packages/nexusevent-js/package-lock.json
Labels: javascript, github, ci/cd, dependencies

fix(packages): resolve JavaScript module type and simplify Flutter workflow
  .github/workflows/publish-packages.yml
  packages/nexusevent-js/package.json
Labels: javascript, github, ci/cd, dependencies

fix: 修复Flutter发布和同步中文文档
  .github/workflows/publish-packages.yml
  README.zh-CN.md
Labels: documentation, github, ci/cd

fix(ci): 修复JavaScript ESLint配置和Flutter测试问题
  packages/nexusevent-js/.eslintrc.json
  packages/nexusevent_flutter/test/nexus_event_test.dart
Labels: flutter, javascript

fix(ci): 最终修复ESLint配置问题
  packages/nexusevent-js/.eslintrc.json
  packages/nexusevent-js/package.json
Labels: javascript, dependencies

fix(ci): 跳过Flutter analyze避免CI依赖问题
  .github/workflows/ci.yml
Labels: github, ci/cd

fix: 添加缺失的Flutter SDK源代码文件
  packages/nexusevent_flutter/lib/nexusevent.dart
  packages/nexusevent_flutter/lib/src/core/types.dart
  packages/nexusevent_flutter/lib/src/nexus_event.dart
  packages/nexusevent_flutter/lib/src/senders/discord_sender.dart
Labels: flutter

chore: bump version to 0.1.3
  README.md
  packages/nexusevent-js/package.json
  packages/nexusevent_flutter/pubspec.yaml
Labels: flutter, javascript, documentation, dependencies
